.badges-list{
    $self: &;
    display: flex;
    flex-flow: row wrap;

    &--large{
        margin-bottom: 4rem;

        #{ $self }__item{
            width: 50px;
            height: 50px;
            border-radius: .75rem;

            @media (min-width: 50rem){
                width: 60px;
                height: 60px;
                border-radius: 1rem;
            }
        }
    }

    &__item{
        position: relative;
        display: flex;
        width: 43px;
        height: 43px;
        margin: 1rem .5rem 0 0;
        border-radius: .75rem;
        overflow: hidden;

        @media (min-width: 50rem){
            width: 48px;
            height: 48px;
        }
    }

    &__link{
        display: flex;
        transition: .25s;

        &:hover{
            transform: scale(1.75) rotate(-5deg);
        }
    }
}

