.contact-links{
    $self: &;

    &--large{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        
        #{ $self }__item{
            width: 3rem;
            margin: .5rem .75rem;

            @media (min-width: 50rem){
                width: 4rem;
                margin: 0 2rem;
            }
        }
    }

    &__list{
        display: flex;
    }

    &__item{
        display: inline-flex;
        width: 2rem;
        margin: 0 .5rem;
        transition: transform .2s;

        &:hover{
            transform: scale(1.05)
        }

        & > img{
            width: 100%;
            height: 100%;
        }
    }
}
    