.contact-links{
    $self: &;

    &--large{

        #{ $self }__item{
            width: 4rem;
            margin: 0 2rem;
        }
    }

    &__list{
        display: flex;
    }

    &__item{
        display: inline-flex;
        width: 2rem;
        margin: 0 .5rem;
        transition: transform .2s;

        &:hover{
            transform: scale(1.05)
        }

        & > img{
            width: 100%;
            height: 100%;
        }
    }
}
    