.jobs-list-item{
    display: flex;
    flex-flow: column;
    margin-top: 3.75rem;
    padding: 1.75rem 1.75rem 4rem;
    border-radius: .75rem;
    background-color: #F9F9FA;
    border: solid 1px rgba($color_base-darkness, .1);
    
    box-shadow: 0 5px 20px -18px $color_base-darkness;


    &__position{
        width: 100%;
        margin: -3rem auto 0rem;
        padding: 1.5rem 0;
        text-align: center;
        border-radius: .75rem;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 800;

        background-color: $color_sublight;
        color: $color_highlight;
    }

    &__detail{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 500;

        color: $color-light_gray;
    }

    &__category-header{
        margin-top: 3rem;
    }

    &__stack{
        margin-top: auto;
    }

    &__duties{
        list-style-type: disc;
        padding: 0 1.75rem;
        font-weight: 500;
    
        > li {
            padding-top: .75rem
        }
    }


    
}