.minor-projects-list-item{
    $self: &;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-basis: calc((100% / 3) - 10px);
    margin: 0 5px 6rem;
    cursor: pointer;

    &__image{
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: .5rem; 
        transition: transform .15s;

        outline: .15rem solid $color_sublight;
        outline-offset: 5px;
        transition: .25s;
    }

    &__title{
        margin: 1.5rem 0 .75rem;
        font-style: italic;
        text-align: center;
    }

    &__description{
        text-align: center;
    }

    &:hover{
        #{ $self }__image{
            outline-color: $color_base-background;
            transform: scale(1.1);
            transform-origin: center;
            border-radius: 0;
        }

        #{ $self }__title{
            color: $color_highlight;
            text-decoration: underline;
        }
    }
}
