.projects-list-item{
    $self: &;
    position: relative;

    margin: 3rem 0;
    color: $color_base-background;

    @media (min-width: 50rem){
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        margin: 12rem 0;
    }

    &:first-child{
        @media (min-width: 50rem){
            margin-top: 6rem;
        }
    }


    &:nth-child(odd){
        #{ $self }__image{
            @media (min-width: 50rem){
                margin-left: 5rem;
            }
        }
    }

    &:nth-child(even){
        @media (min-width: 50rem){
            flex-flow: row;
        }

        #{ $self }__description{
            @media (min-width: 50rem){
                margin-left: 5rem;
            }
        }

        #{ $self }__image{
            & > img{
                &:nth-child(2){
                    @media (min-width: 50rem){
                        right: 5rem;
                        left: auto;
                    }
                }
            }
        }
    }

    &__description{
        margin-top: 1rem;
        @media (min-width: 50rem){
            width: 50%;
        }
    }

    &__type{
        text-transform: uppercase;
        color: $color_highlight;
        font-weight: bold;
    }

    &__name{
        margin-bottom: .5rem;
        font-style: italic;

        @media (min-width: 50rem){
            margin-bottom: 1.5rem;
        }
    }

    &__text{
        margin-bottom: 1.5rem;
        color: $color_light-gray;
    }

    &__image{
        position: relative;
        
        @media (min-width: 50rem){
            width: 50%;
        }
        
        & > img{
            position: relative;
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: .75rem;
            z-index: 1;

            @media (min-width: 50rem){
                height: 300px;
            }

            &:first-child{
                box-shadow: 0 0 50px -5px $color_base-darkness;
            }

            &:nth-child(2){
                position: absolute;
                width: calc(100% + 1rem);
                height: 80%;
                left: -.5rem;
                top: -15%;
                filter: grayscale(.5) contrast(.8) brightness(.4);
                z-index: -1;

                @media (min-width: 50rem){
                    width: 175%;
                    height: 160%;
                    left: 5rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}