.section-module{
    $self: &;
    position: relative;
    overflow-x: hidden;

    &__content{
        max-width: 919px;
        margin: 0 auto;
        padding: 0 1rem;

        @media (min-width: 50rem){
            padding: 0 1.5rem;
        }
    }

    &__title{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
        text-transform: uppercase;
        text-align: center;
        color: $color_base-text;

        @media (min-width: 50rem){
            padding: 5rem 0 8rem;
        }

        &--bright{
            color: $color-base-background;
        }

        &:before, &:after{
            content: '';
            width: 1.75rem;
            height: .5rem;
            margin: 0 .75rem;
            border-radius: .5rem;
            background: $color_highlight;
        }

        &--pure{
            text-transform: none;

            &:before, &:after{
                content: none;
            }
        }
    }

    &__transition{
        aspect-ratio: 500/50;
        display: flex;
        width: 100%;
        z-index: 1;

        & > img{
            width: 100%;
        }
    }

    &__background{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;


        & > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--contact{
        min-height: 400px;
        

        #{ $self }__background{
            & > img {
                object-position: top;
            }
        }

        #{ $self }__title{
            padding-top: 10rem;
        }
    }
}
