.the-footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;

    @media (min-width: 50rem){
        padding-bottom: 10rem;
    }

    &__text{
        margin-top: 4rem;
        text-align: center;
        color: $color_subtle-darkness;
    }
    
    &__list{
        display: flex; 
    }

    &__item{
        margin: 0 2rem;
    }

    &__link{
        display: flex;
        transition: transform .2s;
        &:hover{
            transform: scale(1.05)
        }
    }
}