.wave1{
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../src/assets/svg/wave.svg');



}

.blob{
    aspect-ratio: 325/325;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../src/assets/svg/blob.svg');
}