*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    color: $color_base-text;
}

body{
    background: $color_base-background;
    font-family: 'Montserrat';
    min-width: 320px;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}


