$color_highlight: #5169C5;
$color_sublight: #D2D8EF;

$color_gray: #6d6d6d;
$color_light-gray: #C4C4C4; 
$color_ultra-light-gray: #FBFBFB;

$color_base-darkness: #1B1D25;
$color_subtle-darkness: #3D4873;

$color_base-text: #111111;
$color_base-background: #FEFEFE;


